.box 
{
    max-width: 1000px;
    margin:50px auto;

    display: grid;
    grid-gap: 20px 10px;
    grid-template-columns: auto minmax(0, 1fr);
    justify-content: center;
}

html{
    scroll-padding-top: 80px;
}

header, nav, main, footer, titleText, cart, header_container
{
    border-radius: 6px;
}


.sticky
{
    position: -webkit-sticky;
    position: sticky;
}

header_container
{
    position: sticky;
    top: 0px;
    margin-top: -4%;
    background-color: rgb(255, 255, 255);
    grid-row: auto;
    grid-column: 1 / 4;
    height: auto;
    z-index: 10;
    box-shadow: 5px 5px rgba(12, 0, 8, 0.8);
}


header
{
    margin-top: 1%;
    background-color: rgb(56, 141, 190);
    height: 40px;
    align-content: center;
    box-shadow: 5px 5px rgba(12, 0, 8, 0.8);
}

nav
{
    position: -webkit-sticky;
    position: sticky;
    top:90px;
    grid-row: 2 / 20;
    grid-column: 1 / 2;
    width: 212px;
    height:500px
}


.projectInfo
{
    max-width: 1000px;
    margin:50px auto;

    display: grid;
    grid-gap: 20px 10px;
    grid-template-columns: auto minmax(0, 1fr);
}

main
{
    border: 2px, solid, rgb(46, 0, 0);
    background-color: rgb(90, 31, 31);
    margin-top: 5px;
    width:auto;
    height:fit-content;
    grid-row: auto;
    grid-column: auto;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.8);
}

mainRight
{
    border: 2px, solid, rgba(255, 102, 0, 1);
    margin-top: 5px;
    height:auto;
    width: auto;
    grid-row: auto;
    grid-column: auto
}

footer
{
    grid-row: auto;
    grid-column: 1 / 4;
}

projectDesc
{
    border: 2px, solid, rgba(255, 102, 0, 1);
    margin-top: 0px;
    height:160px;
    grid-row: 4/ 5;
    grid-column: 1 / 4;
}

h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(56, 141, 190);
    margin: 0px 0px -10px 0px;
}

h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(190, 190, 190);
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul
{
    text-align: center;
    list-style-type: none;
    margin-top: 60px;
    margin-left: -21%;
}

li
{
    margin: auto auto;
    margin-top: 20px;
}

a
{
    text-decoration: none;
}

p
{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    color: rgb(24, 4, 4);
}

html
{
    scroll-behavior: smooth;
}

navLabel
{
    display: inline;
    font-size: 22px;
    font-family: monospace;
    font-weight: bold;
    margin: 0 0 0 10px;
    color: yellowgreen;
    text-decoration: underline;
}

topBarLabel
{
    display: inline;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 0 10px;
    color: rgb(255, 255, 255);
}


.gridContainter
{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 250px;
}

.cart
{
    max-width: 248px;
    min-width: 248px;
    max-height: 248px;
    min-height: 248px;
    margin:0px 0px, 0px, 0px;
}

gameLabel
{
    position: relative;

    top:15px;
    left: -5%;
    text-align: center;
    vertical-align: top;
}


.featureText
{
    max-width: 750px;
    max-height: 100px;
    margin:0px 0px, 0px, 0px;
    text-align: center;
}

cartridge
{
    grid-row: auto;
    grid-column: auto;
}

img
{
   vertical-align:middle;
}

button
{
    background-image: none;
    border: none;
    appearance: none;
    background-color: inherit;
    cursor: pointer;
}

centerText
{
    text-align: center;
    
}

videoLink
{
    font-size: 20px;
    font-family: sans-serif;
    color: yellowgreen;
    text-decoration: underline;
}

anno
{
    font-size: 16px;
    margin-left: 10px;
    margin-right: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    color: rgb(24, 4, 4);
    font-style: italic;
}

.carousel {
    overflow-x: auto;
    width: 80%;
    grid-row: auto;
    grid-column: 1/4;
    margin: 3em auto;
    display: flex;
    scroll-behavior: smooth;
    gap: 5em;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
    scroll-marker-group: before;
}

.carousel::scroll-button(right)
{
    content: ">";
    width: 60px;
    height: 60px;
    cursor: pointer;
    position:fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%;
    
}

.carousel::scroll-button(left)
{
    content: "<";
    width: 60px;
    height: 60px;
    cursor: pointer;
    position:fixed;
    position-anchor: --carousel;
    position-area: left center;
    translate: 50%;
    
}

.carousel::scroll-marker-group
{
    grid-row: auto;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    gap: 0.5em;

}

.carousel::-webkit-scrollbar{
    display: none;
}

.card
{
    scroll-snap-align: center;
    flex: 0 0 216px;
    aspect-ratio: 5/5;
    padding: 1em;
    background-color: rgba(245, 245, 220, 0);
    border-radius: .5em;
    text-align: center;
    align-content: center;
    scroll-snap-stop: always;
    cursor: pointer;
}

.card::scroll-marker{
    content: ' ';
    height: 1em;
    width: 1em;
    background-color: #001736;
    border-radius: 50%;
}

.card::scroll-marker:target-current
{
    background-color: #c916a5;
}

@media(max-width: 500px)
{
    .card
    {
        flex: 0 0 100%;
    }
}






